h1{
    font-family: "Lucida Console", Courier, monospace;
    font-size:35px;
}
h2{
    font-family: "Times New Roman", Times, serif;
}
h1,h2{
    color:purple;
}
#padding{
    color:cyan;
}
.color{
    font-family: Arial, Helvetica, sans-serif;
}
#padding,.color{
    font-size:40px;
}