#margin{
    height:400px;
    width:600px;
    margin:-30px;
    padding:20px 50px;
    background-image: url('../image/lambo.jpg');
    background-size: contain;
    background-color: lightseagreen;
}
#int{
    height:200px;
    width:80px;
    margin:10px;
    
    background-color: lightcoral;

}
